<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">
                        Criar Produto
                    </span>
                    <form class="mt-3" [formGroup]="productForm"
                        (ngSubmit)="addProduct()">
                        <div class="mb-3">
                            <input
                                type="text"
                                formControlName="nome"
                                class="form-control form-control-lg"
                                placeholder="Produto">
                        </div>
                        <div class="text-danger"
                            *ngIf="productForm.get('nome')?.hasError('required')">
                            <span>O nome do produto <strong>é
                                    obrigatório</strong></span>
                        </div>
                        <div class="mb-3">
                            <input
                                type="text"
                                formControlName="categoria"
                                class="form-control form-control-lg"
                                placeholder="Categoria">
                        </div>
                        <div class="text-danger"
                            *ngIf="productForm.get('categoria')?.hasError('required')">
                            <span>A categoria do produto <strong>é
                                    obrigatória</strong></span>
                        </div>
                        <div class="mb-3">
                            <input
                                type="text"
                                formControlName="endereco"
                                class="form-control form-control-lg"
                                placeholder="Endereço">
                        </div>
                        <div class="text-danger"
                            *ngIf="productForm.get('endereco')?.hasError('required')">
                            <span>O endereco do produto <strong>é
                                    obrigatório</strong></span>
                        </div>
                        <div class="mb-3">
                            <input
                                type="number"
                                formControlName=preco
                                class="form-control form-control-lg"
                                placeholder="Preço">
                        </div>
                        <div class="text-danger"
                            *ngIf="productForm.get('preco')?.hasError('required')">
                            <span>O preço do produto <strong>é
                                    obrigatório</strong></span>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/"
                                class="btn btn-secondary btn-lg float-start">
                                Voltar
                            </button>
                            <button type="submit"
                                class="btn btn-success btn-lg float-end">
                                Aceitar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>